@page "/"
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<link href="css/landing.css" rel="stylesheet" />

<div class="landing-container">
    <h1>Welcome to MoneyBuddy.</h1>
    <p>The best way to manage your all finances.</p>

    <div>
        <button @onclick="NavigateToRegister">Register</button>
        <button @onclick="NavigateToLogin">Login</button>
    </div>
</div>

@code {
    private void NavigateToRegister()
    {
        NavigationManager.NavigateTo("/register");
    }

    private void NavigateToLogin()
    {
        NavigationManager.NavigateTo("/login");
    }
}
